*{
  margin: 0%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 7px;
}

h1{
  text-align: center;
  margin-bottom: 35px;;
}

.container {
  display: flex;
  flex-direction: column;
}

.news{
  width: 45%;
  margin: auto;
  padding: 0 20px;
  background-color: #b7f5f5;
  border-bottom: 2px solid black;
  box-shadow: 0 0 3px grey;
}

.news:hover{
  background-color: #ff5454 ;
}

.modal-button{
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: 332px;       /* костыль */
  color: white;
  background: linear-gradient(yellow, green);
  box-shadow: 0 0 1px black;
  border: 1px solid darkgray;
  width: 200px;
  padding: 8px;
  text-align: center;
  font-size: 13px;
}

.modal{
  display: none; 
  position: fixed; 
  z-index: 1; 
  top:0;
  left: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: hsla(200, 27%, 96%, 0.6);
}
  
.modal-content{
  background-color: #e2ff74;
  margin: 15% auto;
  padding: 20px;
  width: 500px;
}
  

  